*{
    background-color: rgb(114, 216, 216);
    margin: 0%;
}

img {
    width: 100px;
    margin: 10px;
}

.karta {
    text-align: center;
    width: 150px;
    padding: 10px;
    border: solid red 2px;
    border-radius: 10px;
    float: left;
    background-color: #b348483d;
    margin: 5px;
}

.d_karta {
    text-align: center;
    width: 150px;
    padding: 10px;
    border: solid rgb(30, 255, 0) 2px;
    border-radius: 10px;
    float: left;
    background-color: #66b3483d;
    margin: 5px;
}

#odkryte{
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    border: dashed rebeccapurple 3px;
    height: auto;
    width: 736px;
    border-radius: 20px;
}

input {
    margin-left: 30px;
    margin-right: 30px;
    background-color: white;
}

#karty_gracza{
    margin-bottom: 20px;
    padding: 10px;
    height: 200px;
}

#dostarcz {
    padding-top: 275px;
    padding-bottom: 275px;
    text-align: center;
    background-color: blueviolet;
    width: 10%;
    float: left;
    height: 100px;
}

#dostarczane_karty {
    text-align: center;
    background-color: beige;
    width: 45%;
    float: left;
    height: 650px;
}

#dostarczone_karty {
    background-color: coral;
    width: 45%;
    float: left;
    height: 650px;
}

#zakoncz_dostawe {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    width: 100%;
    background-color: hotpink;
    float: left;
    height: 60px;
}

#dostawa {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    width: 100%;
    float: left;
    background-color: rgb(41, 43, 43);
    color:aliceblue;
}

#rozpocznij{
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    width: 100%;
    float: left;
    background-color: aqua;
}